@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
@import url("https://use.typekit.net/kri1dxm.css");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #0071bc;
  padding-left: 30px;
}
.navbar ul li a {
  color: white;
  font-family: "obviously", sans-serif;
  font-size: 500;
  text-transform: uppercase;
  background-color: #0071bc;
}
.navbar ul li a:hover {
  background-color: white;
  text-decoration: none;
  color: #0071bc;
}

.navbar-toggler {
  border: none;
}

.bannerInicio {
  padding-top: 20px;
  padding-bottom: 10px;
}

.card {
  margin: 10px 0 30px 0;
}

.card-body {
  background-color: #0071bc;
}

.card-text {
  font-family: "rubik", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.btn {
  color: white;
  background-color: black;
  font-family: "obviously", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: 20px 90px 0 0;
}

.asociate h3 {
  font-family: "obviously", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
.asociate p {
  font-family: "rubik", sans-serif;
  font-size: 18px;
  text-align: justify;
}

.FotoSocio {
  background-image: url(imágenes/asociate.jpg);
  background-size: cover;
  background-position: center;
}

.table {
  font-family: "rubik", sans-serif;
  color: white;
  background-color: #0071bc;
  justify-content: center;
  margin: 150px auto 100px auto;
}

.actividades {
  background-image: url(imágenes/actividades.jpg);
  background-size: cover;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.TextoActividades h2 {
  font-family: "obviously", sans-serif;
  text-transform: uppercase;
  background-color: #0071bc;
  color: white;
  padding: 0 15px 10px 15px;
  margin-top: 5px;
}
.TextoActividades p {
  font-family: "rubik", sans-serif;
  text-align: justify;
  margin: 0 20px 20px 20px;
}

.deportes h4 {
  font-family: "obviously", sans-serif;
  text-align: center;
  color: #0071bc;
  transition: 1s;
}
.deportes h4:hover {
  background-color: black;
  color: white;
}

.sedes {
  margin-top: 30px;
  margin-bottom: 30px;
}
.sedes iframe {
  margin-top: 20px;
}
.sedes p {
  margin-top: 20px;
  font-family: "rubik", sans-serif;
  text-align: justify;
}
.sedes .card img {
  height: 600px;
}

.list-group {
  font-family: "obviously", sans-serif;
  color: black;
  padding-bottom: 20px;
  margin: 5px 0px 5px 5px;
}

.imgAutoridades img {
  width: 120%;
  height: auto;
}

.titulos .card-text {
  font-family: "obviously", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}

.tituloInfo {
  background-color: #0071bc;
  color: white;
  font-family: "obviously", sans-serif;
  text-transform: uppercase;
}

.proximosPartidos h6 {
  font-family: "rubik", sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  background-color: #0071bc;
  color: white;
}
.proximosPartidos .card-body {
  background-color: #FAFAFA;
}
.proximosPartidos .escudos img {
  width: 80%;
}
.proximosPartidos h2 {
  font-family: "obviously", sans-serif;
  font-weight: 600;
  color: #0071bc;
}
.proximosPartidos .card-text {
  color: black;
  font-size: 100%;
  font-weight: 400;
  margin-top: 20px;
}

.FooterBarra {
  background-color: black;
  font-family: "rubik", sans-serif;
  font-weight: 100;
  padding: 1px 0 10px 10px;
  bottom: 0;
  width: 100%;
}
.FooterBarra .container {
  margin-top: 10px;
}
.FooterBarra .iconos {
  justify-content: space-around;
  font-size: 25px;
}

.menu {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  color: white;
  text-decoration: none;
}

a {
  color: white;
  font-family: "rubik", sans-serif;
}
a a:visited {
  text-decoration: none;
}
a a:link {
  text-decoration: none;
}
a a:hover {
  color: #0071bc;
}

@media only screen and (max-width: 768px) {
  .asociate {
    margin-left: 10px;
    align-items: center;
  }
  .FotoSocio {
    height: 300px;
  }
}
@media only screen and (max-width: 992px) {
  .asociate {
    margin-left: 10px;
    align-items: center;
  }
  .FotoSocio {
    height: 300px;
  }
  .table {
    margin-top: 80px;
  }
}

/*# sourceMappingURL=estilos.css.map */
