@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
@import url("https://use.typekit.net/kri1dxm.css");

//font-family: 'Rubik', sans-serif;
//font-family: "obviously", sans-serif;
//font-weight: 500;
//font-style: normal;
//font-family: "obviously", sans-serif;
//font-weight: 700;
//font-style: normal;
//font-family: "obviously", sans-serif;
//font-weight: 800;
//font-style: normal; 

*{
    margin: 0;
    padding: 0;
}

//color
$color1: #0071bc;
$color2: white;
$color3: black;

//tipografias
$tipo1: 'rubik', sans-serif;
$tipo2: "obviously", sans-serif;

.navbar{
    background-color: $color1;
    padding-left: 30px;

    ul{
        li{
            a{
                color: $color2;
                font-family: $tipo2;
                font-size: 500;
                text-transform: uppercase;
                background-color: $color1;
            }
            a:hover{
                background-color: $color2;
                text-decoration: none;
                color: $color1;
            }
        }
    }
}

.navbar-toggler{
    border: none;
}

.bannerInicio{
    padding-top: 20px;
    padding-bottom: 10px;
}

.card{
    margin: 10px 0 30px 0;
}

.card-body{
    background-color: $color1;    
}

.card-text{
    font-family: $tipo1;
    color: $color2;
    font-weight: 300;
    font-size: 20px;
} 

.btn{
    color: $color2;
    background-color: $color3;
    font-family: $tipo2;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 20px 90px 0 0;
}

.asociate{
    h3{
        font-family: $tipo2;
        font-size: 40px;
        text-transform: uppercase;
    }
    p{
        font-family: $tipo1;
        font-size: 18px;
    }
}

.FotoSocio{
    background-image: url(imágenes/asociate.jpg);
    background-size: cover;
    background-position: center;
}

.table{
    font-family: $tipo1;
    color: $color2;
    background-color: $color1;
    justify-content: center;
    margin: 150px auto 100px auto;
}

.actividades{
    background-image: url(imágenes/actividades.jpg);
    background-size: cover;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.TextoActividades{
    h2{
        font-family: $tipo2;
        text-transform: uppercase;
        background-color: $color1;
        color: $color2;
        padding: 0 15px 10px 15px;
        margin-top: 5px;
    }
    p{
        font-family: $tipo1;
        text-align: justify;
    }
}

.deportes{
    h4{
        font-family: $tipo2;
        text-align: center;
        color: $color1;
    }

}

.sedes{
    margin-top: 30px;
    margin-bottom: 30px;
    iframe{
        margin-top: 20px;
    }
    p{
        margin-top: 20px;
        font-family: $tipo1;
    }
    .card{
        img{
            height: 600px;
        }
    }
}

.list-group{
    font-family: $tipo2;
    color: $color3;
    padding-bottom: 20px;
}

.titulos{
    .card-text{
        font-family: $tipo2;
        text-transform: uppercase;
        font-size: 17px;
    }
}

//.ProxPartidos{//
//    background-color: $color1;
//    font-family: $tipo1;
//    font-weight: 500;
//    color: $color2;
//    text-transform: uppercase;
//    padding: 1% 0 0.5% 0;
//    text-align: center;
//}

//.partidos{
//    margin: 5%;
//    display: flex;
//    justify-content: center;
//}

//.img-responsive{
//    width: 70%;
//}

.FooterBarra {
    background-color: $color3;
    font-family: $tipo1;
    font-weight: 100;
    padding: 1px 0 10px 10px;
    bottom: 0;
    width: 100%;

    .container{
        margin-top: 10px;
    }

    .iconos{
    justify-content: space-around;
    font-size: 25px;
    }
}

.menu {
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    color: $color2;
    text-decoration: none;
}
a{
    color: $color2;
    font-family: $tipo1;
    a:visited{
        text-decoration: none;
    }
    a:link{
        text-decoration: none;
    }
    a:hover{
        color: $color1;
    }
}


@media only screen and (max-width:768px) {
    
    .asociate{
        margin-left: 10px;
        align-items: center;
    }
    .FotoSocio{
        height: 300px;
    }
    .table{
        margin-top: 80px;
    }
}

@media only screen and (max-width:992px) {

    .asociate{
        margin-left: 10px;
        align-items: center;
    }
    .FotoSocio{
        height: 300px;
    }
    .table{
        margin-top: 80px;
    }
}